mixin icon(name, className)
  - var icon = require(`images/icons/${name}.svg`);
  svg(class=className viewBox=icon.viewBox preserveAspectRatio="none")
    use(xlink:href=icon.url)

mixin image(path, className, alt)
  img(src=require(`images/${path}`) class=className alt=alt)

mixin nav(mod, items, activeItem)
  - var items = [{name:"Объекты", link: "#objets"}, {name: "Услуги", link: "#services"}, {name: "Кондиционеры", link: "#conditions"}, {name: "Отзывы", link: "#reviews"}]

  nav(class=`navigation navigation--${mod} ${activeItem}`) 
    ul(class=`navigation__list`)
      each item in items
        li(class=`navigation__item`) 
          a(href=`${item.link}` class=`navigation__link`)= item.name

mixin phone(mod)
  div(class=`phone phone--${mod}`)
    a.phone__number(href="tel:+79229105895") +7 (922) 910 58-95
    a.phone__callback(href="#") Обратный звонок

mixin button(type, mod, mode, text)
  button(type=`${type}`, class=`button button--${mod} ${mode}`)= text